<div class="container">
  <div class="row">
    <p>当サイトはヘア関連のアイテムを投稿、レビューするサイトです。<br />
    ここでは自分でレビューするだけでなく他の人のレビューも見れます。<br />
    自分に合うヘアアイテムをここで見つけてみましょう！！</p>

      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to 'Log in',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to 'Sign Up',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
        </div>
      </div>
    </div>
  </div>


